In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
import string
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv('Book1.csv', encoding='utf-8')

In [3]:
df

         Type                                           Document
0    Business  Shanghai Covid: Oil prices slide after city st...
1    Business  P&O Ferries sackings: Ferry operators face min...
2    Business  Big regional divide on some energy bill charge...
3    Business  P&O Ferries ship detained over crew training c...
4    Business  Uber granted two-and-a-half year licence to op...
..        ...                                                ...
220    Sports  Challenge Cup: Hull KR cling on to beat Leigh ...
221    Sports  Women's Rugby League World Cup: England call u...
222    Sports  Chevron Championship: England's Georgia Hall b...
223    Sports  World Match Play: Scottie Scheffler beats Kevi...
224    Sports  Qatar Masters: Scotland's Ewen Ferguson wins W...

[225 rows x 2 columns]

In [5]:
def preprocessor(text):
    """ This function is used to pre-process text by removing punctuations, stopwords, stemming and tokenizing the text"""

    stop_words = stopwords.words('english')
    stemmer = PorterStemmer()
    text = str(text)
    text = text.lower()
    strip_punctuation = str.maketrans('', '', string.punctuation)
    text = text.translate(strip_punctuation)
    text = word_tokenize(text)
    new_word = " ".join([(stemmer.stem(word)) for word in text if word not in stop_words])
    return new_word

In [6]:
text = df['Document'].iloc[200]

In [7]:
text

'Formula 1: One year since Murray Walker died\nAn energetic, enthusiastic, sometimes \'muddly\' talker\nIt\'s just over a year since legendary commentator Murray Walker passed away, aged 97.\nHe first broadcast on the airwaves way back in 1949, at the British Grand Prix, and became a full-time F1 commentator in 1978, retiring in 2001.\nThroughout those years, he became the voice of the sport.\n"Murray garnered the respect normally reserved for drivers," says Maurice Hamilton, who has written a biography about the man.\n"Throughout the sixties, the only channel you could get motorsport coverage on was the BBC, so Murray was motorsport."\nHamilton has been covering motorsport as a journalist since 1977 and has written multiple books about F1 teams and drivers, including Niki Lauda, Alain Prost, Ayrton Senna and James Hunt.\nHamilton also worked for 20 years on BBC Radio 5 Live as a Formula 1 summariser and remembers being lucky enough to work with Walker. He describes it to us as like, "going to work with your favourite uncle".\nHamilton\'s book is packed with some of Walker\'s most famous and delightful on-air blunders, or \'Murrayisms\'.\nHere are some takeaways...\nThe voice of F1\nThe book opens with one of Walker\'s most famous pieces of commentary, from the final laps of the 1986 Australian Grand Prix.\n"Rosberg out! Keke Rosberg! Out of the Australian Grand Prix! If this isn\'t a sensation, I\'d like to know what is."\n"And look at that! Colossally, that\'s Mansell! That is Nigel Mansell. The car absolutely shatters. He\'s fighting for control. You can see what\'s happened. Now - this could change, and will change, the World Championship."\n"Either that car is stationary, or it\'s on the move."\nHamilton calls this piece of commentary, "Murray in extremis."\n"The line, \'colossally\' - who even says that?"\nThe book is peppered with commentary from plenty of other memorable races too: the 1976 Japanese grand prix, where James Hunt sealed the championship; Suzuka \'89, which determined that year\'s World Championship in Alain Prost\'s favour after he and his bitter rival Ayrton Senna both went off track; Imola \'94, in which Senna was killed in an accident; Adelaide \'94, where a controversial collision between Michael Schumacher and Damon Hill edged the title in favour of the former…\n"I thought to myself, \'what is the essence of Murray Walker?\'," Hamilton explains, adding, "It\'s the commentary. I realised that we weren\'t going to have his voice in the book, but that I could get as near as possible by putting commentary in."\n"Damon Hill is leading. Behind him are the second and third men."\nHis universal appeal\nOne story within the book - an anecdote shared by former FIA president Max Mosley - illustrates the kind of wide appeal that Walker had.\nMosley describes being at the 1993 grand prix in South Africa, where there were lots of dignitaries from the government and the ANC (African National congress) present - one of whom was the now-current president of South Africa, Cyril Ramaphosa. Mosley asked Ramaphosa whether there was anyone he might like to meet, expecting him to suggest someone like Ayrton Senna.\n"And Mansell is slowing down. He is definitely taking it easy. Oh no he isn\'t - that was a lap record"\n"He said Murray Walker! We went into the press room together and stood in front of Murray\'s desk, where he was writing. I introduced Ramaphosa to him. Murray seemed as surprised as I was but, of course, he was absolutely charming and Mr Ramaphosa was delighted!"\nA difficult relationship\nOne man whom Walker didn\'t rub along with quite so well, at least initially, was James Hunt.\nHunt was a former Formula 1 Champion and went on to form a very successful commentary partnership with Walker on the BBC from 1980 until his tragic death in 1993, aged 45.\nHowever, when Hunt was first introduced, Hamilton says that Walker was concerned the BBC were trying to, "ease him out".\nThere are quotes within the book describing how Walker first received his commentary partner.\n"My thoughts were: He may be a world champion racing driver, and a very good world champion racing driver, but what on Earth does he know about commentating? And, what\'s more, I didn\'t particularly like him as a person. I was old enough to be his father. My views on life were diametrically opposed to his. I was a pretty plonking straightforward up-and-down bloke and here I was with this booze-swilling, cigarette-smoking, womanizing, drug-taking chap who I associated with rudeness and being objectionable."\nMurray the \'muddly talker\'\n"Do my eyes deceive me, or is Senna\'s car sounding a bit rough?"\nFor someone so studious and knowledgeable, Walker had an incredible knack for making some very entertaining mistakes during his commentary.\n"The Murrayisms are such an integral part of him," Hamilton observes. "We waited for them and loved it when they happened."\nFor Hamilton, this was just symptomatic of a mind too full of information. He remembers seeing Walker\'s commentary box, "festooned with notes".\n"During the race, something would occur that would trigger a thought and he had to get that out to you. In his enthusiasm to do that, he would sometimes trip over his words and make mistakes."'

In [8]:
df['new'] = df['Document'].apply(preprocessor)

In [9]:
document = df['new'].values.astype('U')

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [11]:
vectorizer = TfidfVectorizer()

In [12]:
X = vectorizer.fit_transform(document)

In [13]:
model = KMeans(n_clusters=3, random_state=101)

In [14]:
model.fit(X)

KMeans(n_clusters=3, random_state=101)

In [15]:
df['clusters'] = model.labels_

In [16]:
df

,Type,Document,new,clusters
0,Business,Shanghai Covid: Oil prices slide after city st...,shanghai covid oil price slide citi start lock...,2
1,Business,P&O Ferries sackings: Ferry operators face min...,po ferri sack ferri oper face minimum wage law...,2
2,Business,Big regional divide on some energy bill charge...,big region divid energi bill charg sharp rise ...,2
3,Business,P&O Ferries ship detained over crew training c...,po ferri ship detain crew train concern po fer...,2
4,Business,Uber granted two-and-a-half year licence to op...,uber grant twoandahalf year licenc oper london...,2
...,...,...,...,...
220,Sports,Challenge Cup: Hull KR cling on to beat Leigh ...,challeng cup hull kr cling beat leigh centurio...,1
221,Sports,Women's Rugby League World Cup: England call u...,women rugbi leagu world cup england call court...,1
222,Sports,Chevron Championship: England's Georgia Hall b...,chevron championship england georgia hall buoy...,1
223,Sports,World Match Play: Scottie Scheffler beats Kevi...,world match play scotti scheffler beat kevin k...,1
224,Sports,Qatar Masters: Scotland's Ewen Ferguson wins W...,qatar master scotland ewen ferguson win world ...,1

In [17]:
df[df['clusters'] == 0]

,Type,Document,new,clusters
22,Business,Data protection 'shake-up' takes aim at cookie...,data protect shakeup take aim cooki popup uk n...,0
33,Business,Why phone scams are so difficult to tackle\nPh...,phone scam difficult tackl phone fraud soar pa...,0
57,Business,Israeli startup to test brain-activity gear on...,isra startup test brainact gear space mission ...,0
75,Science,Lithium mining may be putting some flamingos i...,lithium mine may put flamingo chile risk quest...,0
76,Science,Some E. coli set off viral grenades inside nea...,e coli set viral grenad insid nearbi bacteria ...,0
...,...,...,...,...
145,Science,Genes point to how some bacteria can gobble up...,gene point bacteria gobbl electr research hope...,0
146,Science,Scientists Say: Silicon\nSilicon is one of the...,scientist say silicon silicon one abund — use ...,0
147,Science,Explainer: Calculating a star’s age\nThis is o...,explain calcul star ’ age one thing best left ...,0
148,Science,"More than 9,000 tree species may be waiting to...",9000 tree speci may wait discov mani probabl r...,0
149,Science,Patterns in brain activity can identify who wi...,pattern brain activ identifi struggl read diag...,0

In [18]:
model.labels_

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1])

In [19]:
df[(df['Type'] == 'Business') & (df['clusters'] != 1)]

,Type,Document,new,clusters
0,Business,Shanghai Covid: Oil prices slide after city st...,shanghai covid oil price slide citi start lock...,2
1,Business,P&O Ferries sackings: Ferry operators face min...,po ferri sack ferri oper face minimum wage law...,2
2,Business,Big regional divide on some energy bill charge...,big region divid energi bill charg sharp rise ...,2
3,Business,P&O Ferries ship detained over crew training c...,po ferri ship detain crew train concern po fer...,2
4,Business,Uber granted two-and-a-half year licence to op...,uber grant twoandahalf year licenc oper london...,2
...,...,...,...,...
70,Business,Take Five: A quarter to forget\nMarch 25 (Reut...,take five quarter forget march 25 reuter tumul...,2
71,Business,German first-quarter dealmaking slides to six-...,german firstquart dealmak slide sixyear low du...,2
72,Business,NatWest returns to majority private control as...,natwest return major privat control buy back £...,2
73,Business,Bank of England expects UK energy shock on the...,bank england expect uk energi shock scale 1970...,2
74,Business,\nSunak learns hard way UK public don’t want a...,sunak learn hard way uk public ’ want osborn r...,2

In [20]:

print("Cluster centroids: \n")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

for i in range(3):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

Cluster centroids:

Cluster 0:
 research
 say
 star
 data
 univers
 cell
 space
 earth
 brain
 use
------------
Cluster 1:
 world
 win
 play
 cup
 open
 race
 barti
 game
 england
 player
------------
Cluster 2:
 said
 compani
 price
 bank
 busi
 market
 russia
 uk
 year
 po
------------

C:\Users\USER\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [21]:
from sklearn.metrics.cluster import rand_score

In [22]:
act = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1]

In [31]:
 rand_score(act, model.labels_)

0.9652380952380952

In [25]:
model.labels_[75:150]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0])

In [26]:
model.labels_[150:]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1])

In [27]:
purity = (72 + 74 + 72)/225

In [28]:
purity

0.9688888888888889

In [29]:
from joblib import dump, load

dump(model, 'model.joblib')

['model.joblib']

In [30]:
loaded_model = load('model.joblib')

loaded_model.labels_

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1])

In [24]:
model.labels_[0:75]

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2])

In [36]:
df.Document.iloc[57]

'Israeli startup to test brain-activity gear on space mission to ISS\nTEL AVIV, March 28 (Reuters) - Israel\'s Brain.Space, a four-year-old startup that studies data on brain activity, is set to put its gear to test on astronauts in space next week during a SpaceX shuttle flight to the International Space Station (ISS).\nThree astronauts on the planned private space-flight firm Axiom Space\'s mission to the ISS will use a special electroencephalogram (EEG)-enabled helmet made by Brain.Space, the company said on Monday.\nThe 10-day mission, the first-ever private trip to the space station,will set off on April 3 with four astronauts.\n"We actually know that the microgravity environment impacts the physiological indicators in the body. So, it will probably impact the brain and we would like to monitor that," Brain.Space Chief Executive Yair Levy told Reuters.\nData has continuously been collected on heart rate, skin resistance, muscle mass and others in space but not yet on brain activity, he said.\nBrain.Space joins 30 experiments that will take part in the so-called Rakia Mission to the ISS.\nThree of the four astronauts -- including Israeli Eytan Stibbe -- will wear the helmet, which has 460 airbrushes that connect to the scalp, and perform a number of tasks for 20 minutes a day, during which data will be uploaded to a laptop on the space station. The tasks include a "visual oddball" one that the company says has been effective in detecting abnormal brain dynamics.\nSimilar studies using these tasks have been completed on Earth and after the mission, Brain.Space will compare the EEG data to see the differences in brain activity between Earth and space.\nIt noted that such experiments are needed since long-term space exploration and "off-world living are within grasp."\nBrain.Space, which also said it raised $8.5 million in a seed funding round, bills itself as a brain infrastructure company and is working with the cognitive and brain sciences department at Israel\'s Ben Gurion University to transform terabytes of data into usable insights.\nLevy said he hoped the space mission would be a springboard for other institutions, researchers and software developers to use its brain data platform.\n"Space is an accelerator. The idea is to revolutionise and make possible brain activity apps, products and services that\'s as easy as pulling data from an Apple Watch," Levy said, pointing to measuring ADHD as an example.'